$black: #000 !default;
$white: #FFF !default;

////
// Generate a palette with even color gradiation
// between 3 stops (100, 500, 900).
////
@function make-palette($color1, $color5, $color9) {
  @return (
    100: $color1,
    200: mix($color1, $color5, 75%),
    300: mix($color1, $color5, 50%),
    400: mix($color1, $color5, 25%),
    500: $color5,
    600: mix($color5, $color9, 75%),
    700: mix($color5, $color9, 50%),
    800: mix($color5, $color9, 25%),
    900: $color9,
  );
}

//// PRIMARY ////
$primary-1: #B2EBF2;
$primary-5: #00BCD4;
$primary-9: #006064;
$palette-primary: make-palette($primary-1, $primary-5, $primary-9) !default;

//// GRAYSCALE ////
$grayscale-1: #F5F5F5;
$grayscale-5: #9E9E9E;
$grayscale-9: #212121;
$palette-grayscale: make-palette($grayscale-1, $grayscale-5, $grayscale-9) !default;

//// SUCCESS ////
$success-1: #DCEDC8;
$success-5: #8BC34A;
$success-9: #33691E;
$palette-success: make-palette($success-1, $success-5, $success-9) !default;

//// ERROR ////
$error-1: #FFCCBC;
$error-5: #FF5722;
$error-9: #BF360C;
$palette-error: make-palette($error-1, $error-5, $error-9) !default;

//// WARN ////
$warn-1: #FFECB3;
$warn-5: #FFC107;
$warn-9: #FF6F00;
$palette-warn: make-palette($warn-1, $warn-5, $warn-9) !default;


//// BACKGROUND ////
// Colors for use as element backgrounds like hover states or card backgrounds.
$palette-background-light: (
  default: $white,
  hover: rgba($black, 0.1),
  input: rgba($black, 0.1),
  overlay: rgba($black, 0.2),
  fade: rgba($black, 0.6),
) !default;

$palette-background-dark: (
  default: map-get($palette-primary, 900),
  hover: rgba($white, 0.1),
  input: rgba($white, 0.02),
  overlay: rgba($white, 0.2),
  fade: rgba($white, 0.6),
) !default;


//// FOREGROUND ////
// Colors for text and other foreground elements like horizontal rules and borders.
$palette-foreground-light: (
  opaque: $black,
  default: rgba($black, 0.9),
  text: rgba($black, 0.75),
  light-text: rgba($black, 0.65),
  faded-text: rgba($black, 0.3),
  disabled-text: rgba($black, 0.4),
  divider: rgba($black, 0.3),
  border: rgba($black, 0.08)
) !default;

$palette-foreground-dark: (
  opaque: $white,
  default: rgba($white, 0.9),
  text: rgba($white, 0.9),
  light-text: rgba($white, 0.8),
  faded-text: rgba($white, 0.7),
  disabled-text: rgba($white, 0.5),
  active-text: rgba($white, 1),
  divider: rgba($white, 0.3),
  border: rgba($white, 0.08)
) !default;


//// GRADIENTS ////
$palette-dark-gradients: (
  active: linear-gradient(
    0deg,
    map-get($palette-primary, 500) 0%,
    map-get($palette-primary, 600) 100%
  )
) !default;

$palette-light-gradients: (
  active: linear-gradient(
    0deg,
    map-get($palette-primary, 500) 0%,
    map-get($palette-primary, 600) 100%
  )
) !default;


//// SHADOWS ////
// Background and box shadows.
$shadow-overlay      : 0 1px 12px 0 rgba(0, 0, 0, 0.35) !default;

$palette-light-shadows: (
  overlay: $shadow-overlay,
) !default;

$shadow-overlay-dark     : 0 1px 12px 0 rgba(0, 0, 0, 0.35) !default;

$palette-dark-shadows: (
  overlay: $shadow-overlay-dark,
) !default;


//// COMPLEMENTARY ////
// Complementary colors that can be used as needed and fit with the theme and brand.
$palette-complementary: (
) !default;

$theme-light: (
  primary: $palette-primary,
  warn: $palette-warn,
  error: $palette-error,
  success: $palette-success,
  grayscale: $palette-grayscale,
  background: $palette-background-light,
  foreground: $palette-foreground-light,
  gradients: $palette-light-gradients,
  shadows: $palette-light-shadows,
  complementary: $palette-complementary,
  is-dark: false
) !default;

$theme-dark: (
  primary: $palette-primary,
  warn: $palette-warn,
  error: $palette-error,
  success: $palette-success,
  grayscale: $palette-grayscale,
  background: $palette-background-dark,
  foreground: $palette-foreground-dark,
  gradients: $palette-dark-gradients,
  shadows: $palette-dark-shadows,
  complementary: $palette-complementary,
  is-dark: true
) !default;

////
// Get a color out of the theme two SASS maps deep. In other words,
// get the hue specified from palettes inside of the theme map structure.
//
// ```
// .my-primary-thing {
//   // Get the 100 color value from the primary palette.
//   color: power-pro-color( $theme, primary, 100 );
//   // Get the border from the foreground palette.
//   border: 1px solid power-pro-color( $theme, foreground, border );
// }
// ```
////
@function power-pro-color($theme, $palette: primary, $hue: 500) {
  $palette-map: map-get($theme, $palette);

  @if $palette-map == null {
    @error('Could not find property #{$palette} on the theme provided: #{$theme}');
  }
  $color: map-get($palette-map, $hue);

  @if $color == null {
    @error('Could not find hue #{$hue} on the palette: #{$palette-map}');
  }

  @return $color;
}

@function power-pro-background($theme: $theme-light, $hue: default) {
  @return power-pro-color($theme, background, $hue);
}

@function power-pro-foreground($theme: $theme-light, $hue: default) {
  @return power-pro-color($theme, foreground, $hue);
}

@function power-pro-complementary-color($name) {
  @return map-get($palette-complementary, $name);
}

////
// Get a color from the light theme.
////
@function color($palette: primary, $hue: 500) {
  @return power-pro-color($theme-light, $palette, $hue);
}

////
// Get a color from the dark theme.
///;
@function color-dark($palette: primary, $hue: 500) {
  @return power-pro-color($theme-dark, $palette, $hue);
}

////
// Get a background color (overlay, hover, etc) from the light theme.
////
@function background($hue: default) {
  @return power-pro-color($theme-light, background, $hue);
}

////
// Get a background color (overlay, hover, etc) from the dark theme.
////
@function background-dark($hue: default) {
  @return power-pro-color($theme-dark, background, $hue);
}

////
// Get a foreground color (text color, disabled text color, etc) from the light theme.
///;
@function foreground($hue: default) {
  @return power-pro-color($theme-light, foreground, $hue);
}

////
// Get a foreground color (text color, disabled text color, etc) from the light theme.
////
@function foreground-dark($hue: default) {
  @return power-pro-color($theme-dark, foreground, $hue);
}

