$l-behind   : -1 !default;
$l-normal   : 0 !default;
$l-above    : 1 !default;
$l-floating : 10 !default;
$l-header   : 50 !default;
$l-tooltip  : 100 !default;
$l-modal    : 1000 !default;

$layers: (
  behind: $l-behind,
  normal: $l-normal,
  above: $l-above,
  floating: $l-floating,
  header: $l-header,
  tooltip: $l-tooltip,
  modal: $l-modal,
) !default;

// Get one of standard measurements (sizes) from the theme.
//
// Ex: `margin: size(xxl);`
@function layer($layer) {
  $l: map-get($layers, $layer);

  @if $l == null {
    @error('Could not find layer #{$layer} on the theme provided: #{$layers}');
  }

  @return $l;
}
