
body {
  overflow: hidden;
}

.border,
.test-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

.test-container {
  font-family: sans-serif;
}

.border {
  pointer-events: none;
  border: 2px solid red;
}

.description {
  position: relative;
  padding: 10px;
  z-index: 1;
  background-color: #ffffffcf;
}

.test {
  display: block;
  margin: 0;
  height: 100%;
  z-index: -1;
  overflow: visible !important;
}

.div-example .test {
  position: relative;
  background-color: #eee;
}

.div-example .message {
  position: relative;
  margin: 0;
  padding: 10px;

  background-color: #ffffff70;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
}

.red {
  top: 0;
  left: 0;
  background-color: lightcoral;
}

.blue {
  bottom: 0;
  right: 0;
  background-color: lightblue;
}

.rectangle {
  fill: lightblue;
}

.circle {
  fill: lightcoral;
}

